# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/

# Editor directories
.vscode/
*.suo
*.ntvs*
*.njsproj`
*.opensdf`
*.swp`

# Production build files
dist/
.cache/