MONGO_URI=mongodb+srv://ardyatamafadel68:LIT3kwDZ8x9R4r1w@cluster0.kmhem6h.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NTI2Mzk1MjR9.jCyV5GuaoEauq_cqJprWY2MzfKjMBySe-oSIYC_ae-Q